div.container{
    margin-top: 20px;
}

div.merde {
    padding: 3em;
    background-size: cover;
    background-position: center center;
}

div.merde h1, div.merde p, .carousel-caption {
    color: white;
    text-shadow:  3px 3px 3px rgba(0, 0, 0, 0.5);
}
