/* assets/css/app.css */
@import url('./bootstrap.min.css');

a:hover, .btn-link:hover {
    text-decoration: none;
}

div.container{
    margin-top: 20px;
}

div.da-title {
    padding: 3em;
    background-size: cover;
    background-position: center center;

    .btn {
        margin-top: 2em;
        font-style: 1.5em;
        line-height: 1.5em;
    }

    h1, p, .carousel-caption {
        color: rgb(255, 255, 255);
        text-shadow:  3px 3px 3px rgba(0, 0, 0, 0.5);
    }

}

.carousel-caption {
    color: white;
    text-shadow:  3px 3px 3px rgba(0, 0, 0, 0.5);
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px; 
    max-height: 64px;
}

.avatar-mini {
    max-width: 32px;
    max-height: 32px;
}

.avatar-micro {
    max-width: 24px;
    max-height: 24px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
    background-color: rgb(251, 98, 98)!important;
    color: floralwhite!important;
    border-radius: 0%!important;
}

span.rating svg {
    color: goldenrod;
}
