<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ScpieBNB - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="min-vh-100">
      {% include 'partials/header.html.twig' %}
        {% block body %}{% endblock %}
      {% include 'partials/footer.html.twig' %}
      <script src="{{ asset('build/js/app.js') }}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
      {% block javascripts %}
        {{ encore_entry_script_tags('js/app') }}
      {% endblock %}
    </body>
</html>
